        <nav>
          {{#if loggedIn}}
          <a href="/profiles"><button class="btn-no-style">profile</button></a>
          <a href="/dashboard"><button class="btn-no-style">dashboard</button></a>
          <a href="/messageboard"><button class="btn-no-style">message board</button></a>
          <button id="logout" class="btn-no-style">logout</button>
          {{else}}
          <a href="/login"><button class="btn-no-style">login</button></a>
          {{/if}}
        </nav>