        <nav>
          {{#if loggedIn}}
          <a href="/profiles"><button class="mt-2 btn btn-primary">profile</button></a>
          <a href="/dashboard"><button class="mt-2 btn btn-primary">dashboard</button></a>
          <a href="/messageboard"><button class="mt-2 btn btn-primary">message board</button></a>
          <button id="logout" class="mt-2 btn btn-primary">logout</button>
          {{else}}
          <a href="/login"><button class="btn-no-style">login</button></a>
          {{/if}}
        </nav>