<div>User Profile</div>

 <h2>Avatar and Username</h2>
    <img>
</div>
<div>
    <label>Username</label>
    <label>Location</label>
    <label>School/Organization Name</label>
</div>
<div>
    <a href="/dashboard"><button class="mt-2 btn btn-primary">Dashboard</button></a>
    <a href="/messageboard"><button class="mt-2 btn btn-primary">Message Board</button></a>
    <button>Contact</button>
    <button id="logout" class="mt-2 btn btn-primary">logout</button>
</div>
