<div>User Profile</div>

 <h2>Avatar and Username</h2>
    <img>
</div>
<div>
    <label>Username</label>
    <label>Location</label>
    <label>School/Organization Name</label>
</div>
<div>
    <button>Dashboard</button>
    <button>Message Board</button>
    <button>Contact</button>
    <button>Log Out</button>
</div>
