<div>Dashboard</div>
<div>
    <h2>Avatar and Username</h2>
    <img>
</div>
<div>
    <button>My Profile</button>
    <button>Message Board</button>
    <button>Create Meeting</button>
    <button>Log Out</button>
</div>

<div>
    Calendar Goes Here
</div>
