<h3 class = "text-center">Dashboard</h3>
<div class = "controls">
<div>
    <h1>Username</h1>
    <img class = "w-25" src = "./imgs/cactus.webp">
</div>
<div class = "d-flex flex-column">
    <button class = 'mt-2 btn btn-primary'>My Profile</button>
    <button class = 'mt-2 btn btn-primary'>Message Board</button>
    <button class = 'mt-2 btn btn-primary'>Create Meetup</button>
    {{!-- <button class = 'btn btn-secondary'>Log Out</button> --}}
</div>
</div>
<div class="jumbotron">
    <img src = "./imgs/calendarimage2.avif">
</div>
 {{!-- <section class="row">
  <div class = "column">
    <h2>Create New Post</h2> 

    <form class="new-post-form">
      <div>
        <label for="post-title">Title</label>
        <input type="text" id="post-title" name="post-title" />
      </div>
      <div>
        <label for="post-content">Text</label>
        <textarea id="post-content" name="post-content"></textarea>
      </div>
      {{!-- <button type="submit" class="btn">Create</button>
    </form>
  </div>

</section>

{{!-- {{#if posts.length}}
<section>
  <h2>Your Posts</h2>
  <ol>
    {{#each posts as |post|}}
    <li>
      {{> post-info post}}
      <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit post</a>
    </li>
    {{/each}}
  </ol>
</section>
{{/if}} --}}

<script src="/javascript/addpost.js"></script> 
