<div>Dashboard</div>
<div>
    <h2>Avatar and Username</h2>
    <img>
</div>
<div>
    <button>My Profile</button>
    <button>Message Board</button>
    <button>Create Meeting</button>
    <button>Log Out</button>
</div>

<div>
    Calendar Goes Here
</div>
<section class="row">
  <div class = "column">
    <h2>Create New Post</h2>

    <form class="new-post-form">
      <div>
        <label for="post-title">Title</label>
        <input type="text" id="post-title" name="post-title" />
      </div>
      <div>
        <label for="post-content">Text</label>
        <textarea id="post-content" name="post-content"></textarea>
      </div>
      <button type="submit" class="btn">Create</button>
    </form>
  </div>

</section>

{{#if posts.length}}
<section>
  <h2>Your Posts</h2>
  <ol>
    {{#each posts as |post|}}
    <li>
      {{> post-info post}}
      <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit post</a>
    </li>
    {{/each}}
  </ol>
</section>
{{/if}}

<!--Script to add a post-->
<script src="/javascript/addpost.js"></script>
