<link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">

<h3 class="text-center">Dashboard</h3>
<div class="controls">
  <div>
    <h1>Username</h1>
    <img class="w-25" src="./imgs/cactus.webp" />
  </div>
  <div class="d-flex flex-column">
    <a href="/profiles"><button id="weird" class="mt-2 btn btn-primary">My Profile</button></a>
    <a href="/messageboard"><button class="mt-2 btn btn-primary">Message Board</button></a>
    <button class = 'mt-2 btn btn-primary' data-bs-toggle="modal" data-bs-target="#createEventModal">Create Meetup</button>
    <button class = 'mt-2 btn btn-secondary'>Log Out</button> 
  </div>
</div>

<div id="calendar"></div>
<div class="modal fade" id="createEventModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Event info</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form>
              <div class="mb-3">
                <label for="event-title" class="col-form-label">Title:</label>
                <input type="text" class="form-control" id="event-title">
              </div>
              <div class="mb-3">
                <label for="event-creator" class="col-form-label">Name:</label>
                <input type="text" class="form-control" id="event-creator">
              </div>
              <div class="mb-3">
                <label for="event-des" class="col-form-label">Description:</label>
                <textarea class="form-control" id="event-des"></textarea>
              </div>
              <div class="mb-3">
                <label for="event-location" class="col-form-label">Location:</label>
                <input type="text" class="form-control" id="event-location">
              </div>
              <div class="mb-3">
                <label for="event-start-time" class="col-form-label">Start Time:</label>
                <select class="form-control" id="event-start-time">
                  <option value="T06:00:00">6:00 am</option>
                  <option value="T07:00:00">7:00 am</option>
                  <option value="T08:00:00">8:00 am</option>
                  <option value="T09:00:00">9:00 am</option>
                  <option value="T10:00:00">10:00 am</option>
                  <option value="T11:00:00">11:00 am</option>
                  <option value="T12:00:00">12:00 pm</option>
                  <option value="T13:00:00">1:00 pm</option>
                  <option value="T14:00:00">2:00 pm</option>
                  <option value="T15:00:00">3:00 pm</option>
                  <option value="T16:00:00">4:00 pm</option>
                  <option value="T17:00:00">5:00 pm</option>
                  <option value="T18:00:00">6:00 pm</option>
                  <option value="T19:00:00">7:00 pm</option>
                  <option value="T20:00:00">8:00 pm</option>
                  <option value="T21:00:00">9:00 pm</option>
                  <option value="T22:00:00">10:00 pm</option>
                  <option value="T23:00:00">11:00 pm</option>
                  <option value="T24:00:00">12:00 am</option>
                  <option value="T1:00:00">1:00 am</option>
                  <option value="T2:00:00">2:00 am</option>
                  <option value="T03:00:00">3:00 am</option>
                  <option value="T04:00:00">4:00 am</option>
                  <option value="T05:00:00">5:00 am</option>
              </select>

              </div>
              <div class="mb-3">
                <label for="event-time" class="col-form-label">Start Date:</label>
                <input type="text" class="form-control" id="datepicker">
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" data-bs-dismiss="modal" onclick="javascript:window.location.reload()" id="postBtn">Post Event</button>
          </div>
        </div>
      </div>
    </div>
<div id="dialog-message" title="Event Info" >
  <p>Event</p>
 <p>
   Description:
 </p>
 <p>
   Location:
 </p>
 <p>Created by:</p>
</div>


<script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.0.1/index.global.min.js"></script>    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>

<script src="/javascript/calendar.js"></script>
<script src="/javascript/appointment.js"></script>
<script src="/javascript/logout.js"></script>


