<div>Profile Create Page</div>
<form><label>username</label>
    <input>
    <label>Password</label>
    <input>
    <label>Re-Enter Password</label>
    <input>
    <label>Location</label>
    <input>
<label>Image</label>
<input>
<label> School or organization</label>
<input>
<label>Personal Info</label>
<input>
<button>Submit</button>



</form> 