<div>
    <h3 class = "text-center"> Create Your Profile </h3>
    </div>
<form class = "text-center d-flex flex-column w-50"><label>Username</label>
    <input>
    <label class = ''>Password</label>
    <input>
    <label>Re-Enter Password</label>
    <input>
    <label>Location</label>
    <input>
<label>Image</label>
<input>
<label> School or organization</label>
<input>
<label>Personal Info</label>
<input>
<button class = 'mt-2 button btn-secondary'>Submit</button>



</form> 