<div>
    <h3 class = "text-center"> Create Your Profile </h3>
    </div>
<form><label>username</label>
    <input>
    <label>Password</label>
    <input>
    <label>Re-Enter Password</label>
    <input>
    <label>Location</label>
    <input>
<label>Image</label>
<input>
<label> School or organization</label>
<input>
<label>Personal Info</label>
<input>
<button>Submit</button>



</form> 