h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}

h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    margin-left: 240px;
    margin-top: 50px;
}

.button {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.loginForm {
    
    margin-top: 150px;
}

.banner {
    margin-top: 50px;
}

.controls {
    display:flex;
    justify-content: space-between;
}



.profileForm {
    display:flex;
    justify-content: center;
    margin-top:50px;
    margin-left: 25px;
    margin-right: 25px;
}

.wrapper {
    width: 100%;
    min-height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1%;
  }

#weird {
    width: 100%;
}

#smallunite {
    width: 50%;
    margin-top: 20px;
}
.delete-post-btn {
    background-color: #d41414;
  }
  
  .delete-post-btn:hover {
    background-color: #ff643d;
  }
  
  .post {
    margin-bottom: 2%;
    line-height: 150%;
    border: 3px solid black;
  }
  
  .post .title span {
    font-style: italic;
    font-size: 90%;
    color: #7d7d7d;
  }
  
  .edit-link {
    display: block;
    margin: -1.5% 0 2% 0;
    color: #2c2307;
  }
  
  .comment-form {
    margin-bottom: 5%;
  }
  
  .comment {
    padding: 1%;
    margin-bottom: 1%;
  }
  
  .comment:nth-child(odd) {
    background-color: #fff5eb;
  }
  
  .comment .meta {
    font-size: 90%;
    margin-bottom: .5%;
    opacity: .6;
  }
  
  .new-post-form input {
    width: 300px;
  }
  
  .edit-post-form {
    margin-bottom: 5%;
  }
  
  #comment-subtitle {
    font-size: 12px;
    font-style: italic;
  }
  
  .new-post-section {
    display: flex;
    justify-content: center;
  }
  
  #create-new-post {
    width: 15%;
  }